// color definitions
@allColors:
  primary,
  secondary,
  tertiary,
  fourth,
  fifth,

  white,
  gray,
  grayer,
  grayest,
  black,
  transparent;

// theme from https://color.adobe.com/Halloween-Night-color-theme-10148895
@color-primary: #330136;
@color-secondary: #5E1742;
@color-tertiary: #962E40;
@color-fourth: #C9463D;
@color-fifth: #FF5E35;

@color-white: #FFF;
@color-gray: #b5b5b5;
@color-grayer: #777777;
@color-grayest: #444444;
@color-black: #333333;
@color-transparent: rgba(0, 0, 0, 0);

// how much to lighten and darken a color by
@percentLighter: 5%;
@percentLightest: 10%;
@percentDarker: 5%;
@percentDarkest: 10%;

// font size - treated as 1rem
@baseFontSize: 15px;

// padding
@basePadding: 5px;

// margin
@baseMargin: 5px;

// border-radius
@baseBorderRadius: 5px;

// box-shadow
@baseBoxShadowSize: 3px;
