// color definitions
@allColors:
  primary,
  secondary,
  tertiary,
  fourth,
  fifth,

  white,
  black;

// pastel theme from https://color.adobe.com/Halloween-Night-color-theme-10148895
@color-primary: #330136;
@color-secondary: #5E1742;
@color-tertiary: #962E40;
@color-fourth: #C9463D;
@color-fifth: #FF5E35;

@color-white: #FFF;
@color-black: #333333;

// how much to lighten and darken a color by
@percentLighter: 5%;
@percentLightest: 10%;
@percentDarker: 5%;
@percentDarkest: 10%;

// font size - treated as 1rem
@baseFontSize: 15px;

// padding
@basePadding: 5px;

// margin
@baseMargin: 5px;

// border-radius
@baseBorderRadius: 5px;

// box-shadow
@baseBoxShadowSize: 3px;
