.borcolor-primary {
  border-color: #330136;
}
.bor-5-primary {
  border-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-v-5-primary {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-h-5-primary {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-t-5-primary {
  border-top-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-b-5-primary {
  border-bottom-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-l-5-primary {
  border-left-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-r-5-primary {
  border-right-width: 5px;
  border-color: #330136;
  border-style: solid;
}
.bor-4-primary {
  border-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-v-4-primary {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-h-4-primary {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-t-4-primary {
  border-top-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-b-4-primary {
  border-bottom-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-l-4-primary {
  border-left-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-r-4-primary {
  border-right-width: 4px;
  border-color: #330136;
  border-style: solid;
}
.bor-3-primary {
  border-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-v-3-primary {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-h-3-primary {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-t-3-primary {
  border-top-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-b-3-primary {
  border-bottom-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-l-3-primary {
  border-left-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-r-3-primary {
  border-right-width: 3px;
  border-color: #330136;
  border-style: solid;
}
.bor-2-primary {
  border-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-v-2-primary {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-h-2-primary {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-t-2-primary {
  border-top-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-b-2-primary {
  border-bottom-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-l-2-primary {
  border-left-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-r-2-primary {
  border-right-width: 2px;
  border-color: #330136;
  border-style: solid;
}
.bor-1-primary {
  border-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-v-1-primary {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-h-1-primary {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-t-1-primary {
  border-top-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-b-1-primary {
  border-bottom-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-l-1-primary {
  border-left-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-r-1-primary {
  border-right-width: 1px;
  border-color: #330136;
  border-style: solid;
}
.bor-0-primary {
  border-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.bor-v-0-primary {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.bor-h-0-primary {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.bor-t-0-primary {
  border-top-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.bor-b-0-primary {
  border-bottom-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.bor-l-0-primary {
  border-left-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.bor-r-0-primary {
  border-right-width: 0px;
  border-color: #330136;
  border-style: solid;
}
.borcolor-secondary {
  border-color: #5E1742;
}
.bor-5-secondary {
  border-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-v-5-secondary {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-h-5-secondary {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-t-5-secondary {
  border-top-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-b-5-secondary {
  border-bottom-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-l-5-secondary {
  border-left-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-r-5-secondary {
  border-right-width: 5px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-4-secondary {
  border-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-v-4-secondary {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-h-4-secondary {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-t-4-secondary {
  border-top-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-b-4-secondary {
  border-bottom-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-l-4-secondary {
  border-left-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-r-4-secondary {
  border-right-width: 4px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-3-secondary {
  border-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-v-3-secondary {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-h-3-secondary {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-t-3-secondary {
  border-top-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-b-3-secondary {
  border-bottom-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-l-3-secondary {
  border-left-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-r-3-secondary {
  border-right-width: 3px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-2-secondary {
  border-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-v-2-secondary {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-h-2-secondary {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-t-2-secondary {
  border-top-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-b-2-secondary {
  border-bottom-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-l-2-secondary {
  border-left-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-r-2-secondary {
  border-right-width: 2px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-1-secondary {
  border-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-v-1-secondary {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-h-1-secondary {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-t-1-secondary {
  border-top-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-b-1-secondary {
  border-bottom-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-l-1-secondary {
  border-left-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-r-1-secondary {
  border-right-width: 1px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-0-secondary {
  border-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-v-0-secondary {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-h-0-secondary {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-t-0-secondary {
  border-top-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-b-0-secondary {
  border-bottom-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-l-0-secondary {
  border-left-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.bor-r-0-secondary {
  border-right-width: 0px;
  border-color: #5E1742;
  border-style: solid;
}
.borcolor-tertiary {
  border-color: #962E40;
}
.bor-5-tertiary {
  border-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-v-5-tertiary {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-h-5-tertiary {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-t-5-tertiary {
  border-top-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-b-5-tertiary {
  border-bottom-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-l-5-tertiary {
  border-left-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-r-5-tertiary {
  border-right-width: 5px;
  border-color: #962E40;
  border-style: solid;
}
.bor-4-tertiary {
  border-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-v-4-tertiary {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-h-4-tertiary {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-t-4-tertiary {
  border-top-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-b-4-tertiary {
  border-bottom-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-l-4-tertiary {
  border-left-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-r-4-tertiary {
  border-right-width: 4px;
  border-color: #962E40;
  border-style: solid;
}
.bor-3-tertiary {
  border-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-v-3-tertiary {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-h-3-tertiary {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-t-3-tertiary {
  border-top-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-b-3-tertiary {
  border-bottom-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-l-3-tertiary {
  border-left-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-r-3-tertiary {
  border-right-width: 3px;
  border-color: #962E40;
  border-style: solid;
}
.bor-2-tertiary {
  border-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-v-2-tertiary {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-h-2-tertiary {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-t-2-tertiary {
  border-top-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-b-2-tertiary {
  border-bottom-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-l-2-tertiary {
  border-left-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-r-2-tertiary {
  border-right-width: 2px;
  border-color: #962E40;
  border-style: solid;
}
.bor-1-tertiary {
  border-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-v-1-tertiary {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-h-1-tertiary {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-t-1-tertiary {
  border-top-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-b-1-tertiary {
  border-bottom-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-l-1-tertiary {
  border-left-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-r-1-tertiary {
  border-right-width: 1px;
  border-color: #962E40;
  border-style: solid;
}
.bor-0-tertiary {
  border-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.bor-v-0-tertiary {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.bor-h-0-tertiary {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.bor-t-0-tertiary {
  border-top-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.bor-b-0-tertiary {
  border-bottom-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.bor-l-0-tertiary {
  border-left-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.bor-r-0-tertiary {
  border-right-width: 0px;
  border-color: #962E40;
  border-style: solid;
}
.borcolor-fourth {
  border-color: #C9463D;
}
.bor-5-fourth {
  border-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-v-5-fourth {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-h-5-fourth {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-t-5-fourth {
  border-top-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-b-5-fourth {
  border-bottom-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-l-5-fourth {
  border-left-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-r-5-fourth {
  border-right-width: 5px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-4-fourth {
  border-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-v-4-fourth {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-h-4-fourth {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-t-4-fourth {
  border-top-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-b-4-fourth {
  border-bottom-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-l-4-fourth {
  border-left-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-r-4-fourth {
  border-right-width: 4px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-3-fourth {
  border-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-v-3-fourth {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-h-3-fourth {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-t-3-fourth {
  border-top-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-b-3-fourth {
  border-bottom-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-l-3-fourth {
  border-left-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-r-3-fourth {
  border-right-width: 3px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-2-fourth {
  border-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-v-2-fourth {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-h-2-fourth {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-t-2-fourth {
  border-top-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-b-2-fourth {
  border-bottom-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-l-2-fourth {
  border-left-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-r-2-fourth {
  border-right-width: 2px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-1-fourth {
  border-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-v-1-fourth {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-h-1-fourth {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-t-1-fourth {
  border-top-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-b-1-fourth {
  border-bottom-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-l-1-fourth {
  border-left-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-r-1-fourth {
  border-right-width: 1px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-0-fourth {
  border-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-v-0-fourth {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-h-0-fourth {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-t-0-fourth {
  border-top-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-b-0-fourth {
  border-bottom-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-l-0-fourth {
  border-left-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.bor-r-0-fourth {
  border-right-width: 0px;
  border-color: #C9463D;
  border-style: solid;
}
.borcolor-fifth {
  border-color: #FF5E35;
}
.bor-5-fifth {
  border-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-v-5-fifth {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-h-5-fifth {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-t-5-fifth {
  border-top-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-b-5-fifth {
  border-bottom-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-l-5-fifth {
  border-left-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-r-5-fifth {
  border-right-width: 5px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-4-fifth {
  border-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-v-4-fifth {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-h-4-fifth {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-t-4-fifth {
  border-top-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-b-4-fifth {
  border-bottom-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-l-4-fifth {
  border-left-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-r-4-fifth {
  border-right-width: 4px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-3-fifth {
  border-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-v-3-fifth {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-h-3-fifth {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-t-3-fifth {
  border-top-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-b-3-fifth {
  border-bottom-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-l-3-fifth {
  border-left-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-r-3-fifth {
  border-right-width: 3px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-2-fifth {
  border-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-v-2-fifth {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-h-2-fifth {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-t-2-fifth {
  border-top-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-b-2-fifth {
  border-bottom-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-l-2-fifth {
  border-left-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-r-2-fifth {
  border-right-width: 2px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-1-fifth {
  border-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-v-1-fifth {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-h-1-fifth {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-t-1-fifth {
  border-top-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-b-1-fifth {
  border-bottom-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-l-1-fifth {
  border-left-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-r-1-fifth {
  border-right-width: 1px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-0-fifth {
  border-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-v-0-fifth {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-h-0-fifth {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-t-0-fifth {
  border-top-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-b-0-fifth {
  border-bottom-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-l-0-fifth {
  border-left-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.bor-r-0-fifth {
  border-right-width: 0px;
  border-color: #FF5E35;
  border-style: solid;
}
.borcolor-white {
  border-color: #FFF;
}
.bor-5-white {
  border-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-v-5-white {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-h-5-white {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-t-5-white {
  border-top-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-b-5-white {
  border-bottom-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-l-5-white {
  border-left-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-r-5-white {
  border-right-width: 5px;
  border-color: #FFF;
  border-style: solid;
}
.bor-4-white {
  border-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-v-4-white {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-h-4-white {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-t-4-white {
  border-top-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-b-4-white {
  border-bottom-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-l-4-white {
  border-left-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-r-4-white {
  border-right-width: 4px;
  border-color: #FFF;
  border-style: solid;
}
.bor-3-white {
  border-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-v-3-white {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-h-3-white {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-t-3-white {
  border-top-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-b-3-white {
  border-bottom-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-l-3-white {
  border-left-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-r-3-white {
  border-right-width: 3px;
  border-color: #FFF;
  border-style: solid;
}
.bor-2-white {
  border-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-v-2-white {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-h-2-white {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-t-2-white {
  border-top-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-b-2-white {
  border-bottom-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-l-2-white {
  border-left-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-r-2-white {
  border-right-width: 2px;
  border-color: #FFF;
  border-style: solid;
}
.bor-1-white {
  border-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-v-1-white {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-h-1-white {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-t-1-white {
  border-top-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-b-1-white {
  border-bottom-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-l-1-white {
  border-left-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-r-1-white {
  border-right-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
.bor-0-white {
  border-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.bor-v-0-white {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.bor-h-0-white {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.bor-t-0-white {
  border-top-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.bor-b-0-white {
  border-bottom-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.bor-l-0-white {
  border-left-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.bor-r-0-white {
  border-right-width: 0px;
  border-color: #FFF;
  border-style: solid;
}
.borcolor-black {
  border-color: #333333;
}
.bor-5-black {
  border-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-v-5-black {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-h-5-black {
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-t-5-black {
  border-top-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-b-5-black {
  border-bottom-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-l-5-black {
  border-left-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-r-5-black {
  border-right-width: 5px;
  border-color: #333333;
  border-style: solid;
}
.bor-4-black {
  border-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-v-4-black {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-h-4-black {
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-t-4-black {
  border-top-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-b-4-black {
  border-bottom-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-l-4-black {
  border-left-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-r-4-black {
  border-right-width: 4px;
  border-color: #333333;
  border-style: solid;
}
.bor-3-black {
  border-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-v-3-black {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-h-3-black {
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-t-3-black {
  border-top-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-b-3-black {
  border-bottom-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-l-3-black {
  border-left-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-r-3-black {
  border-right-width: 3px;
  border-color: #333333;
  border-style: solid;
}
.bor-2-black {
  border-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-v-2-black {
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-h-2-black {
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-t-2-black {
  border-top-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-b-2-black {
  border-bottom-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-l-2-black {
  border-left-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-r-2-black {
  border-right-width: 2px;
  border-color: #333333;
  border-style: solid;
}
.bor-1-black {
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-v-1-black {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-h-1-black {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-t-1-black {
  border-top-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-b-1-black {
  border-bottom-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-l-1-black {
  border-left-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-r-1-black {
  border-right-width: 1px;
  border-color: #333333;
  border-style: solid;
}
.bor-0-black {
  border-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.bor-v-0-black {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.bor-h-0-black {
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.bor-t-0-black {
  border-top-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.bor-b-0-black {
  border-bottom-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.bor-l-0-black {
  border-left-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.bor-r-0-black {
  border-right-width: 0px;
  border-color: #333333;
  border-style: solid;
}
.borradius-5 {
  border-radius: 25px;
}
.borradius-tl-5 {
  border-top-left-radius: 25px;
}
.borradius-tr-5 {
  border-top-right-radius: 25px;
}
.borradius-bl-5 {
  border-bottom-left-radius: 25px;
}
.borradius-br-5 {
  border-bottom-right-radius: 25px;
}
.borradius-l-5 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.borradius-r-5 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.borradius-t-5 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.borradius-d-5 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.borradius-4 {
  border-radius: 20px;
}
.borradius-tl-4 {
  border-top-left-radius: 20px;
}
.borradius-tr-4 {
  border-top-right-radius: 20px;
}
.borradius-bl-4 {
  border-bottom-left-radius: 20px;
}
.borradius-br-4 {
  border-bottom-right-radius: 20px;
}
.borradius-l-4 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.borradius-r-4 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.borradius-t-4 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.borradius-d-4 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.borradius-3 {
  border-radius: 15px;
}
.borradius-tl-3 {
  border-top-left-radius: 15px;
}
.borradius-tr-3 {
  border-top-right-radius: 15px;
}
.borradius-bl-3 {
  border-bottom-left-radius: 15px;
}
.borradius-br-3 {
  border-bottom-right-radius: 15px;
}
.borradius-l-3 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.borradius-r-3 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.borradius-t-3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.borradius-d-3 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.borradius-2 {
  border-radius: 10px;
}
.borradius-tl-2 {
  border-top-left-radius: 10px;
}
.borradius-tr-2 {
  border-top-right-radius: 10px;
}
.borradius-bl-2 {
  border-bottom-left-radius: 10px;
}
.borradius-br-2 {
  border-bottom-right-radius: 10px;
}
.borradius-l-2 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.borradius-r-2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.borradius-t-2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.borradius-d-2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.borradius-1 {
  border-radius: 5px;
}
.borradius-tl-1 {
  border-top-left-radius: 5px;
}
.borradius-tr-1 {
  border-top-right-radius: 5px;
}
.borradius-bl-1 {
  border-bottom-left-radius: 5px;
}
.borradius-br-1 {
  border-bottom-right-radius: 5px;
}
.borradius-l-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.borradius-r-1 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.borradius-t-1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.borradius-d-1 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.borradius-0 {
  border-radius: 0px;
}
.borradius-tl-0 {
  border-top-left-radius: 0px;
}
.borradius-tr-0 {
  border-top-right-radius: 0px;
}
.borradius-bl-0 {
  border-bottom-left-radius: 0px;
}
.borradius-br-0 {
  border-bottom-right-radius: 0px;
}
.borradius-l-0 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.borradius-r-0 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.borradius-t-0 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.borradius-d-0 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.borradius-round {
  border-radius: 50%;
}
.borradius-tl-round {
  border-top-left-radius: 50%;
}
.borradius-tr-round {
  border-top-right-radius: 50%;
}
.borradius-bl-round {
  border-bottom-left-radius: 50%;
}
.borradius-br-round {
  border-bottom-right-radius: 50%;
}
.borradius-l-round {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.borradius-r-round {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.borradius-t-round {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.borradius-d-round {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.boxshadow-b-1-primary {
  box-shadow: 0 3px #330136;
}
.boxshadow-b-1-secondary {
  box-shadow: 0 3px #5E1742;
}
.boxshadow-b-1-tertiary {
  box-shadow: 0 3px #962E40;
}
.boxshadow-b-1-fourth {
  box-shadow: 0 3px #C9463D;
}
.boxshadow-b-1-fifth {
  box-shadow: 0 3px #FF5E35;
}
.boxshadow-b-1-white {
  box-shadow: 0 3px #FFF;
}
.boxshadow-b-1-black {
  box-shadow: 0 3px #333333;
}
.boxshadow-b-2-primary {
  box-shadow: 0 6px #330136;
}
.boxshadow-b-2-secondary {
  box-shadow: 0 6px #5E1742;
}
.boxshadow-b-2-tertiary {
  box-shadow: 0 6px #962E40;
}
.boxshadow-b-2-fourth {
  box-shadow: 0 6px #C9463D;
}
.boxshadow-b-2-fifth {
  box-shadow: 0 6px #FF5E35;
}
.boxshadow-b-2-white {
  box-shadow: 0 6px #FFF;
}
.boxshadow-b-2-black {
  box-shadow: 0 6px #333333;
}
.boxshadow-b-3-primary {
  box-shadow: 0 9px #330136;
}
.boxshadow-b-3-secondary {
  box-shadow: 0 9px #5E1742;
}
.boxshadow-b-3-tertiary {
  box-shadow: 0 9px #962E40;
}
.boxshadow-b-3-fourth {
  box-shadow: 0 9px #C9463D;
}
.boxshadow-b-3-fifth {
  box-shadow: 0 9px #FF5E35;
}
.boxshadow-b-3-white {
  box-shadow: 0 9px #FFF;
}
.boxshadow-b-3-black {
  box-shadow: 0 9px #333333;
}
.boxshadow-b-4-primary {
  box-shadow: 0 12px #330136;
}
.boxshadow-b-4-secondary {
  box-shadow: 0 12px #5E1742;
}
.boxshadow-b-4-tertiary {
  box-shadow: 0 12px #962E40;
}
.boxshadow-b-4-fourth {
  box-shadow: 0 12px #C9463D;
}
.boxshadow-b-4-fifth {
  box-shadow: 0 12px #FF5E35;
}
.boxshadow-b-4-white {
  box-shadow: 0 12px #FFF;
}
.boxshadow-b-4-black {
  box-shadow: 0 12px #333333;
}
.boxshadow-b-5-primary {
  box-shadow: 0 15px #330136;
}
.boxshadow-b-5-secondary {
  box-shadow: 0 15px #5E1742;
}
.boxshadow-b-5-tertiary {
  box-shadow: 0 15px #962E40;
}
.boxshadow-b-5-fourth {
  box-shadow: 0 15px #C9463D;
}
.boxshadow-b-5-fifth {
  box-shadow: 0 15px #FF5E35;
}
.boxshadow-b-5-white {
  box-shadow: 0 15px #FFF;
}
.boxshadow-b-5-black {
  box-shadow: 0 15px #333333;
}
/*
  for each color defined the `@allColors` ,
    this will generate the following utility css

  eg:
   @allColors: primary;
   @color-primary: #FFF;


   .color-primary { color: #FFF; }
   .bg-primary { background-color: #FFF; }
   .borcolor-primary { border-color: #FFF; }
*/
.color-primary {
  color: #330136;
}
.bg-primary {
  background-color: #330136;
}
.color-primary-lighter {
  color: #4b014f;
}
.bg-primary-lighter {
  background-color: #4b014f;
}
.color-primary-lightest {
  color: #620268;
}
.bg-primary-lightest {
  background-color: #620268;
}
.color-primary-darker {
  color: #1b011d;
}
.bg-primary-darker {
  background-color: #1b011d;
}
.color-primary-darkest {
  color: #040004;
}
.bg-primary-darkest {
  background-color: #040004;
}
.color-secondary {
  color: #5E1742;
}
.bg-secondary {
  background-color: #5E1742;
}
.color-secondary-lighter {
  color: #721c50;
}
.bg-secondary-lighter {
  background-color: #721c50;
}
.color-secondary-lightest {
  color: #87215f;
}
.bg-secondary-lightest {
  background-color: #87215f;
}
.color-secondary-darker {
  color: #4a1234;
}
.bg-secondary-darker {
  background-color: #4a1234;
}
.color-secondary-darkest {
  color: #350d25;
}
.bg-secondary-darkest {
  background-color: #350d25;
}
.color-tertiary {
  color: #962E40;
}
.bg-tertiary {
  background-color: #962E40;
}
.color-tertiary-lighter {
  color: #aa3448;
}
.bg-tertiary-lighter {
  background-color: #aa3448;
}
.color-tertiary-lightest {
  color: #bd3a51;
}
.bg-tertiary-lightest {
  background-color: #bd3a51;
}
.color-tertiary-darker {
  color: #822838;
}
.bg-tertiary-darker {
  background-color: #822838;
}
.color-tertiary-darkest {
  color: #6f222f;
}
.bg-tertiary-darkest {
  background-color: #6f222f;
}
.color-fourth {
  color: #C9463D;
}
.bg-fourth {
  background-color: #C9463D;
}
.color-fourth-lighter {
  color: #cf5951;
}
.bg-fourth-lighter {
  background-color: #cf5951;
}
.color-fourth-lightest {
  color: #d46c65;
}
.bg-fourth-lightest {
  background-color: #d46c65;
}
.color-fourth-darker {
  color: #b93c33;
}
.bg-fourth-darker {
  background-color: #b93c33;
}
.color-fourth-darkest {
  color: #a5362e;
}
.bg-fourth-darkest {
  background-color: #a5362e;
}
.color-fifth {
  color: #FF5E35;
}
.bg-fifth {
  background-color: #FF5E35;
}
.color-fifth-lighter {
  color: #ff724f;
}
.bg-fifth-lighter {
  background-color: #ff724f;
}
.color-fifth-lightest {
  color: #ff8768;
}
.bg-fifth-lightest {
  background-color: #ff8768;
}
.color-fifth-darker {
  color: #ff4a1b;
}
.bg-fifth-darker {
  background-color: #ff4a1b;
}
.color-fifth-darkest {
  color: #ff3502;
}
.bg-fifth-darkest {
  background-color: #ff3502;
}
.color-white {
  color: #FFF;
}
.bg-white {
  background-color: #FFF;
}
.color-white-lighter {
  color: #ffffff;
}
.bg-white-lighter {
  background-color: #ffffff;
}
.color-white-lightest {
  color: #ffffff;
}
.bg-white-lightest {
  background-color: #ffffff;
}
.color-white-darker {
  color: #f2f2f2;
}
.bg-white-darker {
  background-color: #f2f2f2;
}
.color-white-darkest {
  color: #e6e6e6;
}
.bg-white-darkest {
  background-color: #e6e6e6;
}
.color-black {
  color: #333333;
}
.bg-black {
  background-color: #333333;
}
.color-black-lighter {
  color: #404040;
}
.bg-black-lighter {
  background-color: #404040;
}
.color-black-lightest {
  color: #4d4d4d;
}
.bg-black-lightest {
  background-color: #4d4d4d;
}
.color-black-darker {
  color: #262626;
}
.bg-black-darker {
  background-color: #262626;
}
.color-black-darkest {
  color: #1a1a1a;
}
.bg-black-darkest {
  background-color: #1a1a1a;
}
/*
  param - @name - name of resulting css
  param - @color - (hex) color to use
*/
.aitems-start {
  align-items: flex-start;
}
.jcontent-start {
  justify-content: flex-start;
}
.aself-start {
  align-self: flex-start;
}
.aitems-end {
  align-items: flex-end;
}
.jcontent-end {
  justify-content: flex-end;
}
.aself-end {
  align-self: flex-end;
}
.aitems-center {
  align-items: center;
}
.jcontent-center {
  justify-content: center;
}
.aself-center {
  align-self: center;
}
.aitems-stretch {
  align-items: stretch;
}
.jcontent-stretch {
  justify-content: stretch;
}
.aself-stretch {
  align-self: stretch;
}
.aitems-auto {
  align-items: auto;
}
.jcontent-auto {
  justify-content: auto;
}
.aself-auto {
  align-self: auto;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fsize-0 {
  font-size: 0px;
}
.fsize-1 {
  font-size: 5px;
}
.fsize-2 {
  font-size: 10px;
}
.fsize-3 {
  font-size: 15px;
}
.fsize-4 {
  font-size: 20px;
}
.fsize-5 {
  font-size: 25px;
}
.fsize-6 {
  font-size: 30px;
}
.fsize-7 {
  font-size: 35px;
}
.fsize-8 {
  font-size: 40px;
}
.fsize-9 {
  font-size: 45px;
}
.fsize-10 {
  font-size: 50px;
}
.fsize-base {
  font-size: 15px;
  line-height: 15px;
}
.fsize-small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.fsize-big {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.f-thin {
  font-weight: 200;
}
.f-normal {
  font-weight: 400;
}
.f-bold {
  font-weight: 600;
}
.f-italic {
  font-style: italic;
}
.grid-item-0 {
  grid-column: 0;
}
.grid-item-1 {
  grid-column: 1;
}
.grid-item-2 {
  grid-column: 2;
}
.grid-item-3 {
  grid-column: 3;
}
.grid-item-4 {
  grid-column: 4;
}
.grid-item-5 {
  grid-column: 5;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
.mar-0 {
  margin: 0px;
}
.mar-ver-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mar-hor-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mar-t-0 {
  margin-top: 0px;
}
.mar-r-0 {
  margin-right: 0px;
}
.mar-b-0 {
  margin-bottom: 0px;
}
.mar-l-0 {
  margin-left: 0px;
}
.mar-1 {
  margin: 5px;
}
.mar-ver-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mar-hor-1 {
  margin-left: 5px;
  margin-right: 5px;
}
.mar-t-1 {
  margin-top: 5px;
}
.mar-r-1 {
  margin-right: 5px;
}
.mar-b-1 {
  margin-bottom: 5px;
}
.mar-l-1 {
  margin-left: 5px;
}
.mar-2 {
  margin: 10px;
}
.mar-ver-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mar-hor-2 {
  margin-left: 10px;
  margin-right: 10px;
}
.mar-t-2 {
  margin-top: 10px;
}
.mar-r-2 {
  margin-right: 10px;
}
.mar-b-2 {
  margin-bottom: 10px;
}
.mar-l-2 {
  margin-left: 10px;
}
.mar-3 {
  margin: 15px;
}
.mar-ver-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mar-hor-3 {
  margin-left: 15px;
  margin-right: 15px;
}
.mar-t-3 {
  margin-top: 15px;
}
.mar-r-3 {
  margin-right: 15px;
}
.mar-b-3 {
  margin-bottom: 15px;
}
.mar-l-3 {
  margin-left: 15px;
}
.mar-4 {
  margin: 20px;
}
.mar-ver-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mar-hor-4 {
  margin-left: 20px;
  margin-right: 20px;
}
.mar-t-4 {
  margin-top: 20px;
}
.mar-r-4 {
  margin-right: 20px;
}
.mar-b-4 {
  margin-bottom: 20px;
}
.mar-l-4 {
  margin-left: 20px;
}
.mar-5 {
  margin: 25px;
}
.mar-ver-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mar-hor-5 {
  margin-left: 25px;
  margin-right: 25px;
}
.mar-t-5 {
  margin-top: 25px;
}
.mar-r-5 {
  margin-right: 25px;
}
.mar-b-5 {
  margin-bottom: 25px;
}
.mar-l-5 {
  margin-left: 25px;
}
/*
  example:
  .generate-margin(2) will output .mar-2 { margin: 10px; }
*/
.opacity-9 {
  opacity: 0.9;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-1 {
  opacity: 0.1;
}
.opacity-0 {
  opacity: 0;
}
.opacity-full {
  opacity: 1;
}
.pad-0 {
  padding: 0px;
}
.pad-ver-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pad-h-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.pad-t-0 {
  padding-top: 0px;
}
.pad-r-0 {
  padding-right: 0px;
}
.pad-b-0 {
  padding-bottom: 0px;
}
.pad-l-0 {
  padding-left: 0px;
}
.pad-1 {
  padding: 5px;
}
.pad-ver-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pad-h-1 {
  padding-left: 5px;
  padding-right: 5px;
}
.pad-t-1 {
  padding-top: 5px;
}
.pad-r-1 {
  padding-right: 5px;
}
.pad-b-1 {
  padding-bottom: 5px;
}
.pad-l-1 {
  padding-left: 5px;
}
.pad-2 {
  padding: 10px;
}
.pad-ver-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pad-h-2 {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-t-2 {
  padding-top: 10px;
}
.pad-r-2 {
  padding-right: 10px;
}
.pad-b-2 {
  padding-bottom: 10px;
}
.pad-l-2 {
  padding-left: 10px;
}
.pad-3 {
  padding: 15px;
}
.pad-ver-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pad-h-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.pad-t-3 {
  padding-top: 15px;
}
.pad-r-3 {
  padding-right: 15px;
}
.pad-b-3 {
  padding-bottom: 15px;
}
.pad-l-3 {
  padding-left: 15px;
}
.pad-4 {
  padding: 20px;
}
.pad-ver-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pad-h-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.pad-t-4 {
  padding-top: 20px;
}
.pad-r-4 {
  padding-right: 20px;
}
.pad-b-4 {
  padding-bottom: 20px;
}
.pad-l-4 {
  padding-left: 20px;
}
.pad-5 {
  padding: 25px;
}
.pad-ver-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pad-h-5 {
  padding-left: 25px;
  padding-right: 25px;
}
.pad-t-5 {
  padding-top: 25px;
}
.pad-r-5 {
  padding-right: 25px;
}
.pad-b-5 {
  padding-bottom: 25px;
}
.pad-l-5 {
  padding-left: 25px;
}
/*
  example:
  .generate-pad(2) will output .pad-2 { padding: 10px; }
*/
.cursor-pointer {
  cursor: pointer;
}
.cursor-auto {
  cursor: auto;
}
.pevents-none {
  pointer-events: none;
}
.pos-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pos-t-0 {
  top: 0;
}
.pos-r-0 {
  right: 0;
}
.pos-b-0 {
  bottom: 0;
}
.pos-l-0 {
  left: 0;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}
/*
  handles styles for items that typically have siblings like lists
*/
.sibling-mar-t-0 + .sibling-mar-t-0 {
  margin-top: 0px;
}
.sibling-mar-b-0 + .sibling-mar-b-0 {
  margin-bottom: 0px;
}
.sibling-mar-l-0 + .sibling-mar-l-0 {
  margin-left: 0px;
}
.sibling-mar-r-0 + .sibling-mar-r-0 {
  margin-right: 0px;
}
.sibling-pad-t-0 + .sibling-pad-t-0 {
  padding-top: 0px;
}
.sibling-pad-b-0 + .sibling-pad-b-0 {
  padding-bottom: 0px;
}
.sibling-pad-l-0 + .sibling-pad-l-0 {
  padding-left: 0px;
}
.sibling-pad-r-0 + .sibling-pad-r-0 {
  padding-right: 0px;
}
.sibling-mar-t-1 + .sibling-mar-t-1 {
  margin-top: 5px;
}
.sibling-mar-b-1 + .sibling-mar-b-1 {
  margin-bottom: 5px;
}
.sibling-mar-l-1 + .sibling-mar-l-1 {
  margin-left: 5px;
}
.sibling-mar-r-1 + .sibling-mar-r-1 {
  margin-right: 5px;
}
.sibling-pad-t-1 + .sibling-pad-t-1 {
  padding-top: 5px;
}
.sibling-pad-b-1 + .sibling-pad-b-1 {
  padding-bottom: 5px;
}
.sibling-pad-l-1 + .sibling-pad-l-1 {
  padding-left: 5px;
}
.sibling-pad-r-1 + .sibling-pad-r-1 {
  padding-right: 5px;
}
.sibling-mar-t-2 + .sibling-mar-t-2 {
  margin-top: 10px;
}
.sibling-mar-b-2 + .sibling-mar-b-2 {
  margin-bottom: 10px;
}
.sibling-mar-l-2 + .sibling-mar-l-2 {
  margin-left: 10px;
}
.sibling-mar-r-2 + .sibling-mar-r-2 {
  margin-right: 10px;
}
.sibling-pad-t-2 + .sibling-pad-t-2 {
  padding-top: 10px;
}
.sibling-pad-b-2 + .sibling-pad-b-2 {
  padding-bottom: 10px;
}
.sibling-pad-l-2 + .sibling-pad-l-2 {
  padding-left: 10px;
}
.sibling-pad-r-2 + .sibling-pad-r-2 {
  padding-right: 10px;
}
.sibling-mar-t-3 + .sibling-mar-t-3 {
  margin-top: 15px;
}
.sibling-mar-b-3 + .sibling-mar-b-3 {
  margin-bottom: 15px;
}
.sibling-mar-l-3 + .sibling-mar-l-3 {
  margin-left: 15px;
}
.sibling-mar-r-3 + .sibling-mar-r-3 {
  margin-right: 15px;
}
.sibling-pad-t-3 + .sibling-pad-t-3 {
  padding-top: 15px;
}
.sibling-pad-b-3 + .sibling-pad-b-3 {
  padding-bottom: 15px;
}
.sibling-pad-l-3 + .sibling-pad-l-3 {
  padding-left: 15px;
}
.sibling-pad-r-3 + .sibling-pad-r-3 {
  padding-right: 15px;
}
.sibling-mar-t-4 + .sibling-mar-t-4 {
  margin-top: 20px;
}
.sibling-mar-b-4 + .sibling-mar-b-4 {
  margin-bottom: 20px;
}
.sibling-mar-l-4 + .sibling-mar-l-4 {
  margin-left: 20px;
}
.sibling-mar-r-4 + .sibling-mar-r-4 {
  margin-right: 20px;
}
.sibling-pad-t-4 + .sibling-pad-t-4 {
  padding-top: 20px;
}
.sibling-pad-b-4 + .sibling-pad-b-4 {
  padding-bottom: 20px;
}
.sibling-pad-l-4 + .sibling-pad-l-4 {
  padding-left: 20px;
}
.sibling-pad-r-4 + .sibling-pad-r-4 {
  padding-right: 20px;
}
.sibling-mar-t-5 + .sibling-mar-t-5 {
  margin-top: 25px;
}
.sibling-mar-b-5 + .sibling-mar-b-5 {
  margin-bottom: 25px;
}
.sibling-mar-l-5 + .sibling-mar-l-5 {
  margin-left: 25px;
}
.sibling-mar-r-5 + .sibling-mar-r-5 {
  margin-right: 25px;
}
.sibling-pad-t-5 + .sibling-pad-t-5 {
  padding-top: 25px;
}
.sibling-pad-b-5 + .sibling-pad-b-5 {
  padding-bottom: 25px;
}
.sibling-pad-l-5 + .sibling-pad-l-5 {
  padding-left: 25px;
}
.sibling-pad-r-5 + .sibling-pad-r-5 {
  padding-right: 25px;
}
.width-full {
  width: 100%;
}
.height-full {
  height: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-stroke {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wordbreak-break {
  word-break: break-word;
  white-space: normal;
}
.text-vertical {
  vertical-align: middle;
}
.zindex-10 {
  z-index: 10;
}
.zindex-9 {
  z-index: 9;
}
.zindex-8 {
  z-index: 8;
}
.zindex-7 {
  z-index: 7;
}
.zindex-6 {
  z-index: 6;
}
.zindex-5 {
  z-index: 5;
}
.zindex-4 {
  z-index: 4;
}
.zindex-3 {
  z-index: 3;
}
.zindex-2 {
  z-index: 2;
}
.zindex-1 {
  z-index: 1;
}
.zindex-0 {
  z-index: 0;
}
body {
  font-family: 'Jaldi', sans-serif;
}
